// --- AUTOSTARTS ---

// portal and stff ig
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri"

//xwayland
spawn-at-startup "xwayland-satellite"

spawn-at-startup "waybar"
spawn-at-startup "mako"

//wallpaper by swaybg
spawn-sh-at-startup "swaybg -i ./sources/nasa1.png -m fill"

// --- Outups---
output "eDP-1" {
	mode "1920x1080@48.010"
	scale 1.0
}

// --- INPUT ---
input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

// --- LAYOUT ---
layout {
    gaps 16
    center-focused-column "never"

    border {
        off
    }
    
    focus-ring {
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
}

// --- WINDOW RULES ---
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    open-floating true
}

// --- KEYBINDS ---
binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    //Mod+Return { spawn "foot"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }

    Mod+W { spawn "alacritty"; }
    Mod+Z { spawn "zen"; }
    Mod+E { spawn "dolphin"; }

    // Toggle Maximize (Fills the workspace, bar stays visible)
    Mod+F { maximize-column; }

    // Toggle Fullscreen (True fullscreen, covers the bar)
    Mod+Shift+F { fullscreen-window; }

    // Navigation
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    // scrilling
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+MouseMiddle  { close-window; }

    //swaylock
    Mod+Shift+L { spawn "swaylock"; }


    // Media Keys
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    //brightness controlaa
    
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "~/ashNix/hosts/ashPC/scripts/brightnessctlScript.sh --inc"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "~/ashNix/hosts/ashPC/scripts/brightnessctlScript.sh --dec"; }
}
